body{
    font-family: "Inter", sans-serif;
    font-size:9.74px ;
    line-height: 13.92px;
    background: #FFFFFF;
    color: #717171;
}





/* header !!!!!!!!!!!!!!!!!!! */

.header_nav_list_1 a {
    color: #4D4D4D;
    text-decoration:none ;
    font-size:11.14px ;
    line-height:16.71px ;
    font-weight: 500;
}

.header_nav_register_button_1{
    color:#FFFFFF;
    font-size:11.14px ;
    line-height:16.71px ;
    font-weight: 500;
    text-decoration:none ;
    background-color: #4CAF4F;
     
}



/* Hero !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Hero{
    background-color:#F5F7FA;
    /* background-image:url(../img_norm/Dot.svg) ;
    background-repeat: no-repeat;
    width: 32px;
    height: 7px;
    background-position:bottom center; */
}

.Hero h1{
    font-weight: 600;
    font-size: 44.55px;
    line-height: 52.9px;
}

.Hero p{
    font-size: 11.14px;
    line-height: 16.71px;
}

.Hero_register_button_1{
    font-size: 11.14px;
    line-height: 16.71px;
    font-weight: 500;
    color: #717171 ;
    text-decoration:none ;

}

/* Our_Clients !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Our_Clients h2{
    font-weight: 600;
    font-size:25.06px;
    line-height: 30.63px;
}

.Hero_title_h1_grey_parth{
    color: #4D4D4D;
} 

.Hero_title_h1_green_parth{
    color: #4CAF4F;
}

.Hero p{
    font-size:11.14px;
    line-height:16.71px;
}

.Hero_register_button_1{
    color:#FFFFFF;
    font-size:11.14px;
    line-height:16.71px;
    font-weight:500;
    background-color:#4CAF4F
}



/* Our_Clients!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Our_Clients h2{
    font-weight: 600;
    font-size:25.06px;
    line-height: 30.63px;
    color:#4D4D4D
}

.Our_Clients p{
    font-weight: 400;
    font-size: 11.14px;
    line-height: 16.71px;
}




/* Community!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Community_title1{
    font-weight:600;
    font-size:25.06px;
    line-height: 30.63px;
    color:#4D4D4D
}

.Community_text1{
    font-size: 11.14px;
    line-height: 16.71px;
}

.Community_article h3{
    font-weight: 700;
    font-size: 19.49px;
    line-height:25.06px;
}




/* Unseen!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Unseen h2{
    font-weight:600;
    font-size:25.06px;
    line-height: 30.63px;
    color:#4D4D4D
}

.Unseen_button_1{
    color:#FFFFFF;
    font-size:11.14px ;
    line-height:16.71px ;
    font-weight: 500;
    background-color:#4CAF4F;
    text-decoration:none ;
}




/* Achivments!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Achivments{
    background-color:#F5F7FA;
}

.Achivments h2{
    font-weight:600;
    font-size:25.06px;
    line-height: 30.63px;
}

.Achivments_title_black{
    color: #4D4D4D;
}

.Achivments_title_green{
    color:#4CAF4F;
}

.Achivments_text1{
    font-size: 11.14px;
    line-height: 16.71px;
    color:#18191F;
}

.Achivments_amounts{
    font-weight: 700;
    font-size:19.49px;
    line-height: 25.06px;
    color: #4D4D4D;
}

.Achivments_text2{
    line-height: 16.71px;
}




/* Help_designing_footer!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Help-designing-footer h2{
    font-weight:600;
    font-size:25.06px;
    line-height: 30.63px;
    color:#4D4D4D
}

.Help-designing-footer_button{
    color:#FFFFFF;
    font-size:11.14px ;
    line-height:16.71px ;
    font-weight: 500;
    background-color:#4CAF4F;
    text-decoration:none ;
}   




/* Customers!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Customers h2{
    font-weight: 600;
    font-size: 13.92px;
    line-height: 19.49px;
    color: #4CAF4F;
}

.Customers_text1{
    font-size:11.14px ;
    line-height:16.71px ;
    font-weight: 500;
}

.Customers_text1{
    font-size:11.14px ;
    line-height:16.71px ;
}

.Customers_button_1{
    text-decoration: none;
    font-weight: 600;
    font-size: 13.92px;
    line-height: 19.49px;
    color: #4CAF4F;

}




/* Customers_Updates!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Customers_Updates h2{
    font-weight:600;
    font-size:25.06px;
    line-height: 30.63px;
    color:#4D4D4D
}

.Customers_Updates_text1{
    font-size:11.14px ;
    line-height:16.71px ;
    font-weight: 500;
}

.Customers_Updates_list_item_block{
    background-color:#F5F7FA;
}

.Customers_Updates_text2{
    font-weight: 600;
    font-size: 13.92px;
    line-height: 19.49px;
}

.Customers_Updates_button{
    font-weight: 600;
    font-size: 13.92px;
    line-height: 19.49px;
    color:#4CAF4F;
    text-decoration: none;
}




/* Info_before_footer!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.Info-before-footer h2{
    font-weight:600;
    font-size: 44.55px;
    line-height:52.9px;
    color: #263238;
}

.Info-before-footer_button_1{
    color:#FFFFFF;
    font-size:11.14px ;
    line-height:16.71px ;
    font-weight: 500;
    background-color:#4CAF4F;
    text-decoration:none ;
}




/* footer!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

footer{
    background-color:#263238;
}


/* footer_left_part!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.footer_left_part{
    color: #F5F7FA;
}

.footer_left_part_messengers_links_item a{
    background-color: gray;
    width:22px ;
    height: 22px;
    border-radius: 50%;
}


/* footer_Extra_information!!!!!!!!!!!!!!!!!!!!!!!!! */


.footer_Extra_information_list_element h2{
    font-weight: 600;
    font-size: 13.92px;
    line-height: 19.49px;
    color: #FFFFFF;
}

.footer_Extra_information_list_item a{
    color: #F5F7FA;
    text-decoration: none;
}

.future-input{
    background-color:grey;
}

.footer_Extra_information_list_item_email{
    color: #D9DBE1;
}






